* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #434343;
  font-family: Arial, sans-serif;
}

button {
  background-color: #161616; /* Azul padrão */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000; /* Azul mais escuro no hover */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
