.botoes-acoes {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    /* 🔥 Garante que ocupe toda a largura */
    background: #fff;
    padding: 10px;
    text-align: center;
    z-index: 3;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);

    /* 🔹 Estilizando os inputs e selects */
    button {
        margin: 0 5px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #1a1515;
        background-color: #272727;
        color: #fff;
        width: auto;
        text-align: center;
    }

    select {
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #1a1515;
        background-color: #272727;
        color: #fff;
        width: auto;
        text-align: left;
    }

    .total-registro {
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #1a1515;
        background-color: #272727;
        color: #fff;
        width: 80px;
        text-align: center;
    }
}